<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cart.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Cart</title>
</head>
<body>
    <div id="app">
        <button type="button" class="back" onclick="back()"><i class="fa-solid fa-arrow-left fa-xl"></i></button>
        <div class="outer-wrap" v-if="cart.length" >
            <div class="top-wrap">
                <ul v-if="cart.length">
                    <li v-for="item in cart" :key="item.id">
                        <input type="checkbox" v-model="item.checkout">
                        <h4>{{ item.name }}</h4>
                        <p>Qty: {{ item.qty }}</p>
                        <p>Harga: {{ formatCurrency(item.price) }}</p>
                    </li>
                </ul>
            </div>
            <div class="bottom-wrap">
                <h3>Total price: {{ formatCurrency(getAllPrice) }}</h3>
                <button type="button" @click="checkout" class="checkout">Checkout</button>
            </div>
        </div>
        <h3 v-if="!cart.length" class="ntems">No items here</h3>
    </div>
    <script src="../js/cart.js"></script>
</body>
</html>